* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #191919;
}

.container {
    padding: 30px;
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.container label {
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
}

.container input {
    height: 46px;
    border-radius: 4px;
    padding: 8px;
    outline: none;
}

.container button {
    padding: 16px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    background-color: #242323;
}

.container button:hover {
    background-color: #323131;
}

.container .form-container {
    display: flex;
    flex-direction: column;
}

.container .list-container {
    margin-top: 20px;
}

.container .list-container ul {
    list-style: none;
}

.container .list-container ul li {
    border-bottom: 1px solid rgba(218, 218, 218, 0.385);
    margin-bottom: 5px;
    padding: 16px 0;
}

.container .list-container ul li span {
    color: #f1f1f1;
}

h1,
strong {
    color: white;
}